<legend class="w-50 fs-6">
   Does your dissertation include copyrighted material?<br>
   <span class="text-muted">Click Yes if your dissertation contains copyrighted material.</span><br>
   <%= render Elements::ExternalLinkComponent.new(url: Settings.copyright_instructions_url, label: 'More about copyright') %>
</legend>
