<%= render Elements::ModalComponent.new(id: 'files-still-attached-message', title: 'Attention') do |component| %>
  <% component.with_body do %>
    <p>
      Before selecting this option, please remove any file(s) you have uploaded in this section.
    </p>
  <% end %>

  <% component.with_footer do %>
    <div class="d-flex justify-content-end">
      <%= render Elements::ButtonComponent.new(label: 'Close', variant: :primary, data: { bs_dismiss: 'modal' }) %>
    </div>
  <% end %>
<% end %>
