<% unless skip_sidebar? || sidebar_sections_for_action.blank? %>
  <div class="space-y-8 flex-none" style="display: flex; flex: none;">
    <%= render 'active_admin/shared/sidebar_sections' %>
  </div>
<% end %>
