<div class="row gy-2">
  <div class="col-lg-8 order-2 order-lg-1">
    <%= render Edit::WelcomeBannerComponent.new(submission: @submission) %>
    <%# TODO: Accordion %>
  </div>
  <div class="col-lg-4 order-1 order-lg-2">
    <%# TODO: Progress card %>
  </div>
</div>
