<table>
  <tbody>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2009_Q4.html">Fall, 2009</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2009_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q1.html">Winter, 2010</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q2.html">Spring, 2010</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q3.html">Summer, 2010</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q4.html">Fall, 2010</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2010_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q1.html">Winter, 2011</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q2.html">Spring, 2011</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q3.html">Summer, 2011</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q4.html">Fall, 2011</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2011_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q1.html">Winter, 2012</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q2.html">Spring, 2012</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q3.html">Summer, 2012</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q4.html">Fall, 2012</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2012_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q1.html">Winter, 2013</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q2.html">Spring, 2013</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q3.html">Summer, 2013</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q4.html">Fall, 2013</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2013_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q1.html">Winter, 2014</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q2.html">Spring, 2014</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q3.html">Summer, 2014</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q4.html">Fall, 2014</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2014_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q1.html">Winter, 2015</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q2.html">Spring, 2015</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q3.html">Summer, 2015</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q4.html">Fall, 2015</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2015_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q1.html">Winter, 2016</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q2.html">Spring, 2016</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q3.html">Summer, 2016</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q4.html">Fall, 2016</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2016_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q1.html">Winter, 2017</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q2.html">Spring, 2017</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q3.html">Summer, 2017</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q4.html">Fall, 2017</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2017_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q1.html">Winter, 2018</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q1.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q2.html">Spring, 2018</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q2.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q3.html">Summer, 2018</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q3.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q4.html">Fall, 2018</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2018_Q4.txt">File</a></td></tr>
    <tr><td><a href="https://etd.stanford.edu/reports/ETD_2019_roundup.html">Roundup Fall 2009 - Fall 2018</a></td><td><a href="https://etd.stanford.edu/reports/ETD_2019_roundup.txt">File</a></td></tr>
  </tbody>
</table>
