<%= render Shared::StepComponent.new(step:,
                                     title: t('steps.supplemental_files.title'),
                                     done: step_complete?) do |component| %>
  <% component.with_help_content do %>
    <%= t('steps.supplemental_files.help_html') %>
  <% end %>

  <% component.with_body_content do %>
    <% if supplemental_files.any? %>
      <%= render Shared::SupplementalFilesStepBodyTableComponent.new(submission:) %>
    <% else %>
      <p>My dissertation does not include supplemental files.</p>
    <% end %>
  <% end %>
<% end %>
