<%= render Elements::BannerComponent.new(variant: :success, title:, role: 'region', aria_label: 'Welcome') do |component| %>
  <% component.with_header do %>
    <div class="d-flex align-items-center gap-2">
      <h2 class="h4 mb-0">Welcome, <%= first_last_name %></h2>
      <div class="vr vr-lg bg-su-process-black-50"></div>
      <span class="text-uppercase"><%= degree %> student</span>
    </div>
  <% end %>
  <% component.with_body do %>
    <%= render body_component %>
  <% end %>
<% end %>
