<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Option</th>
      <th scope="col" class="px-6 py-3">Count</th>
      <th scope="col" class="px-6 py-3">Pct</th>
    </tr>
  </thead>
  <tbody>
    <% data.each do |summary| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <td class="px-6 py-4"><%= summary[:embargo_release] %></td>
        <td class="px-6 py-4"><%= summary[:count] %></td>
        <td class="px-6 py-4"><%= summary[:pct] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
