<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dissertation</td>
      <td><%= data[:dissertation] %></td>
    </tr>
    <tr>
      <td>Thesis</td>
      <td><%= data[:thesis] %></td>
    </tr>
  </tbody>
</table>
